{% extends "layout.html" %}

{% block title_image %}<header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/maryann.png')}}'">{% endblock %}

{% block heading %}
<h1>Galerie</h1><br>
{% endblock %}

{% block content %}
{% for img in images %}
<!-- Post preview-->
<div>
    The Mary-Ann is currently at <a href="https://www.what3words.com/{{twa['words']}}">///{{twa['words']}}</a>
</div>
<div class="post-preview">
    <a href="post">
        <h2 class="post-title">{{p.headline}}</h2>
        <h3 class="post-subtitle">{{p.summary}}</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">{{p.author}}</a>
        on {{p.creation_timestamp}}
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endfor %}
{% endblock %}