{% extends "layout.html" %}
{% block title_image %}<header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/sundown_canoe.png')}}'">{% endblock %}
{% block heading %}
<h1>Work</h1><br>
<h3>immer was zu tun</h3>
{% endblock %}        <!-- Main Content-->
{% block content %}
<div>
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="47.250565mm"
   height="45.738674mm"
   viewBox="0 0 200 200"
   version="1.1"
   id="svg8"
   inkscape:version="1.0.2 (e86c870879, 2021-01-15, custom)"
   sodipodi:docname="svgscripttest.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7"
     inkscape:cx="264.85378"
     inkscape:cy="339.07731"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     inkscape:document-rotation="0"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1920"
     inkscape:window-height="1017"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-30.850537,-47.670472)">
     {% for c in todocards %}
     <!-- Post preview-->
     <circle
    style="opacity:0.997;fill:#ff0015;stroke:#000000;stroke-width:0.665001"
    id="path837"
    cx="{{39+loop.index*15}}"
    cy="55.751484"
    r="7.7485118" 
    onmouseenter="scaleUp(this)"
    onmouseout="scaleDown(this)"/>
     {% endfor %}
     {% for c in donecards %}
     <!-- Post preview-->
     <circle
    style="opacity:0.997;fill:#00a524;stroke:#000000;stroke-width:0.665001"
    id="path837"
    cx="{{39+loop.index*15}}"
    cy="75.751484"
    r="7.7485118" 
    onmouseenter="scaleUp(this)"
    onmouseout="scaleDown(this)"/>
     {% endfor %}
  </g>
</svg>

</div>
</div>
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
{% endblock %}